<div class="page" data-section="{{include.section.class}}">
<div class="recipe">
  <div class="recipe-header">
    <h3 class="yields">{{include.recipe.yield}}</h3>
    <h1>{{include.recipe.title}}</h1>
  </div>
  <hr size="4">
  
  <div class="left ingredients">
    <h2>Ingredients</h2>
      {% for ingredient_section in include.recipe.ingredients%}
      <h3>{{ingredient_section.title}}</h3>
      <ul>
        {% for ingredient in ingredient_section.ingredients%}
        <li>{{ingredient}}</li>
        {% endfor %}
      </ul>
        
      {% endfor %}
    </div>
    <div class="right instructions">
      <h2>Instructions</h2>
      <ol>
      {%for step in include.recipe.steps%}
        <li>
          <p>{{step}}</p>
        </li>
      {%endfor%}
      </ol>
    </div>
</div>
  <div class="bottom-bar"><p>{{include.section.title}}</p></div>
</div>
<div class="page-break"></div>